
<%= form_for [@artwork, @comment] do |f| %>

    <p><%= f.label :title, "Title (optional):" %>
      <%= f.text_field :title %></p>

    <p><%= f.label :content, "Comment:" %>
      <%= f.text_field :content %></p>

    <%= f.submit "Submit", id: "submit" %>
<% end %>

<p><a href="/users/<%= @user.id %>/artworks" class="main_link">Cancel</a></p>
