<p>By <a href="/users/<%= page_user.id %>"><%= artwork.user.first_name %> <%= artwork.user.last_name %></a></p>

<% if artwork.image_url != "" %>
  <p><%= image_tag artwork.image_url, width: "500px" %></p>
<% elsif artwork.art_image %>
  <p><%= image_tag artwork.art_image.url(:medium) %></p>
<% end %>

<p><b>Description:</b> <%= artwork.description %></p>
<p><b>Uploaded:</b> <%= artwork.created_at.strftime("%b %d, %Y") %></p>
