<div class="page">
  <h1><%= @user.first_name %> <%= @user.last_name %>'s Gallery</h1>

  <ul>
    <% @artworks.each do |artwork| %>
      <li>
        <p><%= link_to artwork.title, user_artwork_path(@user, artwork) %></p>

        <% if artwork.image_url != "" %>
          <p><a href='/users/<%= artwork.user.id.to_s %>/artworks/<%= artwork.id.to_s %>'><%= image_tag artwork.image_url, width: "500px" %></a></p>
        <% elsif artwork.art_image %>
          <p><a href='/users/<%= artwork.user.id.to_s %>/artworks/<%= artwork.id.to_s %>'><%= image_tag artwork.art_image.url(:medium) %></a></p>
        <% end %>

        <p><%= artwork.description %></p>
      </li>
    <% end %>
  </ul>

  <p><%= link_to "Upload Artwork", new_user_artwork_path(@user) %></p>
</div>
