<div class="page">
  <% if params[:user_id] %>
    <h1><%= @artwork.title %></h1>

      <%= render partial: 'user_artwork', locals: { artwork: @artwork, page_user: @page_user } %>

    <% if @page_user == current_user %>
      <p><%= link_to "Edit", edit_user_artwork_path(@user, @artwork) %></p>
      <p>
        <%= form_for [@user, @artwork], method: 'delete' do |f| %>
          <%= f.submit "Remove Artwork", id: "destroy" %>
        <% end %>
      </p>
    <% end %>

  <% end %>
</div>
