<div class="page">
  <% if params[:user_id] %>
    <h1><%= @artwork.title %></h1>
    <p>By <%= @artwork.user.first_name %> <%= @artwork.user.last_name %></p>

    <% if @artwork.image_url != "" %>
      <p><%= image_tag @artwork.image_url, width: "500px" %></p>
    <% elsif @artwork.art_image %>
      <p><%= image_tag @artwork.art_image.url(:medium) %></p>
    <% end %>

    <p><%= @artwork.description %></p>
    <p><%= @artwork.created_at.strftime("%b %d, %Y") %></p>

    <% if @page_user == current_user %>
      <p><%= link_to "Edit", edit_user_artwork_path(@user, @artwork) %></p>
      <p>
        <%= form_for [@user, @artwork], method: 'delete' do |f| %>
          <%= f.submit "Remove Artwork", id: "destroy" %>
        <% end %>
      </p>
    <% end %>

  <% end %>
</div>
