<div class="page">
  <h1><%= @user.first_name %> <%= @user.last_name %>'s Followers</h1>

  <ul>
  <% @user.user_followers.each do |follower| %>
    <li>
      <h2>
        <a href='/users/<%= follower.id.to_s %>'><%= image_tag(follower.avatar.url(:tiny), :class => "icon") %></a>
        <a href='/users/<%= follower.id.to_s %>'><%= follower.first_name %> <%= follower.last_name %></a>
      </h2>

      <% if follower.artworks != [] %>
        <h3>Latest Project</h3>

        <%= render partial: '/artworks/artwork', locals: { artwork: follower.artworks[-1] } %>
      <% end %></li>

  <% end %>
  </ul>

</div>
