<div class="page">
  <h1><%= @user.first_name %> <%= @user.last_name %>'s Followers</h1>

  <ul>
  <% @user.user_followers.each do |follower| %>
    <li>
      <h2>
        <a href='/users/<%= follower.id.to_s %>'><%= image_tag(follower.avatar.url(:tiny), :class => "icon") %></a>
        <a href='/users/<%= follower.id.to_s %>'><%= follower.first_name %> <%= follower.last_name %></a>
      </h2>

      <% if follower.artworks != [] %>
        <h3>Latest Project</h3>

        <%= render partial: '/artworks/artwork_form', locals: { artwork: follower.artworks[-1] } %>
      <% end %></li>

  <% end %>
  </ul>

</div>

<div class="followings" role="complementary">
  <h2>Followers:</h2>

  <ul>
    <% @sorted_followers = @user.all_following_users.sort_by{ |user| user.first_name } %>
    <% @sorted_followers.each do |follower| %>
      <li>
        <p>
          <%= render partial: 'thumbnails_form', locals: { follower: follower } %>
      </li>
    <% end %>
  </ul>
</div>
