<div class="page">
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>


  <%= image_tag @user.avatar.url(:medium) %>

  <p><b>Email:</b> <%= @user.email %></p>
  <p><b>Joined:</b> <%= @user.created_at.strftime("%b %d, %Y") %></p>
  <p><b>Followers:</b> <a href="/users/<%= @user.id.to_s %>/followers"><%= @user.count_user_followers.to_s %></a></p>
  <p><b>Following:</b> <a href="/users/<%= @user.id.to_s %>/subscriptions"><%= @user.follow_count.to_s %></a></p>

  <% if current_user == @user %>
    <p><%= link_to "Edit", edit_user_path(@user) %></p>
  <% end %>

  <p><%= link_to "Gallery", user_artworks_path(@user) %></p>

  <% if current_user %>
   <% if current_user != @user %>
      <% if @user.followed_by?(current_user) %>
        <p><%= link_to "Unfollow", unfollow_user_path(@user), :class => "main_link" %></p>
      <% else %>
        <p><%= link_to "Follow", follow_user_path(@user), :class => "main_link" %></p>
      <% end %>

      <p>
        <a href="/users/<%= @user.id %>/block" class="main_link">Block</a>  <a href="/users/<%= @user.id %>/unblock" class="main_link">Unblock</a>
      </p>
    <% end %>
  <% end %>


</div>
