<div class="page">
  <h1><%= @user.first_name %> <%= @user.last_name %>'s Subscriptions</h1>
  <h2>Latest Artwork</h2>

  <% if @recent_artworks != [] %>
  <ul>
    <% @recent_artworks.first(20).each do |artwork| %>

      <li><h3><%= artwork.title %></h3>
        <p>By <a href='/users/<%= artwork.user.id.to_s %>'><%= artwork.user.first_name %> <%= artwork.user.last_name %></a></p>

        <% if artwork.image_url != "" %>
          <p><a href='/users/<%= artwork.user.id.to_s %>/artworks/<%= artwork.id.to_s %>'><%= image_tag artwork.image_url, width: "500px" %></a></p>
        <% elsif artwork.art_image %>
          <p><a href='/users/<%= artwork.user.id.to_s %>/artworks/<%= artwork.id.to_s %>'><%= image_tag artwork.art_image.url(:medium) %></a></p>
        <% end %>

        <p>Uploaded: <%= artwork.created_at.strftime("%b %d, %Y") %></li>

    <% end %>

    <br>
  </ul>
  <% end %>


</div>

<div class="followings" role="complementary">
  <h2>Following:</h2>

  <ul>
    <% @sorted_followings = @user.all_following_users.sort_by{ |user| user.first_name } %>
    <% @sorted_followings.each do |follower| %>
      <li>
        <%= render partial: 'thumbnails_form', locals: { follower: follower } %>
      </li>

    <% end %>
  </ul>
</div>
