<div class="page">
  <h1><%= @user.first_name %> <%= @user.last_name %>'s Subscriptions</h1>


  <% @user.all_following_users.each do |following| %>
    <h2><a href='/users/<%= following.id.to_s %>'><%= following.first_name %> <%= following.last_name %></a></h2>

    <% if following.artworks != [] %>
      <h3>Latest Project</h3>
      <p><%= following.artworks[-1].title %></p>

      <% if following.artworks[-1].image_url != "" %>
        <p><%= image_tag following.artworks[-1].image_url, width: "500px" %></p>
      <% elsif following.artworks[-1].art_image %>
        <p><%= image_tag following.artworks[-1].art_image.url(:medium) %></p>
      <% end %>


      <p>Uploaded: <%= following.artworks[-1].created_at.strftime("%b %d, %Y") %>
    <% end %>

  <% end %>

</div>
