<div class="page">
  <h1><%= @user.first_name %> <%= @user.last_name %>'s Subscriptions</h1>
  <h2>Latest Artwork</h2>

  <% if @recent_artworks != [] %>

    <% @recent_artworks.first(12).each do |artwork| %>

      <h3><%= artwork.title %></a></h3>
      <p>By <a href='/users/<%= artwork.user.id.to_s %>'><%= artwork.user.first_name %> <%= artwork.user.last_name %></a></p>

      <% if artwork.image_url != "" %>
        <p><a href='/users/<%= artwork.user.id.to_s %>/artworks/<%= artwork.id.to_s %>'><%= image_tag artwork.image_url, width: "500px" %></a></p>
      <% elsif artwork.art_image %>
        <p><a href='/users/<%= artwork.user.id.to_s %>/artworks/<%= artwork.id.to_s %>'><%= image_tag artwork.art_image.url(:medium) %></a></p>
      <% end %>

      <p>Uploaded: <%= artwork.created_at.strftime("%b %d, %Y") %>


    <% end %>

    <br>

  <% end %>


</div>
