<div class="page">
  <h1>Artbook</h1>

  <p class="intro"><b>Artbook</b> is an online artwork and photography portfolio. Follow your favorite portfolios or create one of your own.</p>
  <p class="intro">Begin by searching through through the site or click on <b>Randomize</b>.</p>
  <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:q, "Search for Art:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %>


  <p><%= link_to "Randomize", random_path, :class => "home_link" %></p>
  <p>
    <% if signed_in? %>
      <%= link_to "Upload Artwork", new_user_artwork_path(@user), :class => "home_link" %>
    <% end %>
  </p>
</div>
