<div class="page">
  <h1>Artbook</h1>

  <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:q, "Search for Art:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %>


  <p><%= link_to "Random", random_path %></p>
  <p>
    <% if signed_in? %>
      <%= link_to "Upload Artwork", new_user_artwork_path(@user) %>
    <% end %>
  </p>
</div>
