<!DOCTYPE html>
<html>
<head>
  <title>Artbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css' />
  <link rel="shortcut icon" href="http://www.iconj.com/ico/5/5/55ekoh4no8.ico" type="image/x-icon" />
</head>
<body>

  <div class="navigation" role="navigation">
    <a href="/"><img src="/images/artbook_title.png"></a>
  </div>

  <div class="signin">
    <%= render 'common/signout' %>
  </div>


  <%= yield %>
  <div class="footer" role="contentinfo">
  </div>
</body>
</html>
