<!DOCTYPE html>
<html>
<head>
  <title>Artbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="navigation" role="navigation">
    <a href="/"><img src="/images/artbook_title.png"></a>
  </div>

  <div class="signin">
    <%= render 'common/signout' %>
  </div>


  <%= yield %>

</body>
</html>
